# Git
.git
.gitignore
.gitattributes
.github/

# CI

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Virtual environment
venv/

# CIFAR-10 data
data/
.zip

# model
.pth

#logs
logs/